<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.input :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.input :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.input :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.input :role, collection:Parking::ROLES_PROCESS.keys, include_blank: false %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
