<%= form_for @parking do |p| %> 
  <div>
    <%= p.label :name, "Nom du parking" %>
    <%= p.text_field :name %>
  </div>

  <div>
    <%= p.label :process_step, "Etape du process" %>
    <%= p.select :process_step, available_step_process(current_user.role) %>
  </div>

  <%= submit_tag "Edit" %>
<% end %>