<!DOCTYPE html>
<html>
<head>
  <title>ParkApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% flash.each do |key, message| %>
        <div><%= message %></div>
    <% end %>

    <% unless user_signed_in? %>
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li>
                <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li>
                <%= link_to "Sign in", new_user_session_path %>
            </li>
        </ul>
    </div>
    <% end %>    

    <% if user_signed_in? %>
    <div class="navbar-right">
        <p class="navbar-text">
          Signed in as <%= current_user.email %>
        </p>
        <ul class="nav navbar-nav">
            <li>
                <%= link_to "Sign out", destroy_user_session_path,
            method: :delete %>
            </li>
        </ul>
    </div>
    <div class="page-header">
        <h1><%= link_to "Parkings", parkings_path %></h1>
        <ul class="actions">
            <li><%= link_to "New Parking", new_parking_path,
              class: "btn btn-success" %></li>
        </ul>
    </div>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>